<div class="container" id="profile">
<h1> Welcome, <%= current_user.full_name %> </h1>
<!-- Display current shorturls, longurls. click count, delete button -->
<h2> Your current URLs: </h2>
<%if @urls.length == 0 %> 
  <%="No urls for you"%> 
<% else %> 
  <% @urls.each do |url| %> 
    Original URL: <%= url.original %> <br>
    Short URL: <a href="/<%= url.short %>"><%= url.short %></a> <br>
    Click Count: <%= url.click_count %> 
    <a href="/delete/<%=url.id%>">Delete this Url</a><br><br>
  <%end%> 
<%end%> 
</div>



<div class="container">
  <h1>Get another Short URL</h1>

<form name="input" action="/urls/<%=current_user.id%>" method="post">
<input type="text" name="original" placeholder="enter your url here">
  <input type="submit" value="Get Short Url">
</form>

<%if @url && !@url.valid?%>
  <%@url.errors.full_messages.each do |message|%>
    <% message = "Invalid URL" if message == "Original is invalid" %>
    <p class="error"><%=message%></p>
  <%end%>
<%end%>
  
</div>

